.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.boat{
    margin: 20px;
}

@media screen and (max-width: 768px){
    .header {
        text-align: center;
        font-size: 1.3rem;
    }

    .boat {
        width: 50%;
        height: 50%;
    }
}